body {
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    color: #333;
  }

  #block_container
  {
    height: 55%;
    width:94%;
    position: absolute;
    display: flex;
    justify-content: left;
  }

  /*CSS ITALY MAP*/
  .numbers {
    font-family: Tahoma;
    color: red;
  }
  
  #map {
    background: lightblue;
    border:3px solid black;
    border-right-style: outset;
    border-radius: 5px;
    position: absolute;
    height: 100%;
    width: 28%;
    
  }

  .greyOnlyReg{
    fill: #ddd;
    stroke: rgb(36, 36, 36);
    stroke-width: 0.5;
  }

  .greyReg{
    fill: none;
    stroke: rgb(36, 36, 36);
    stroke-opacity: "1";
    stroke-linecap: "butt";
    stroke-linejoin: "miter";
    stroke-miterlimit: "4";
    stroke-width: 0.5;
  }

  .greyProv{
    fill: #ddd;
    stroke: rgb(116, 110, 110);
    stroke-width: 0.5;
  }

  .white{
    fill-opacity: 1;
    fill: rgb(190, 189, 189);
    stroke:rgb(116, 110, 110);
    stroke-opacity: "1";
    stroke-linecap: "butt";
    stroke-linejoin: "miter";
    stroke-miterlimit: "4";
    stroke-width: 0.5;
  }

  #tooltipMap {
        color: #222; 
        background: #fff; 
        border-radius: 3px; 
        box-shadow: 0px 0px 2px 0px #a6a6a6; 
        padding: .2em; 
        text-shadow: #f5f5f5 0 1px 0;
        font-size: 10px;
        opacity: 0.9; 
        position: absolute;
  }

  #legendMap {
    position: absolute;
    margin-left:0;
    margin-bottom:0;
  }

  #recLegendMap, #recLegendCr, #recLegendPopMap{
    fill: #e9edc9;
    opacity: 0.8;
  }

  #checkAll, #showDensity{
    font-size: smaller;
    margin-left: 0%;
   }
  #zoomBar{
    margin-top: 0%;
    width:90%;
  }
  #slide{
    width: 90%;
    height: 35px;
    margin-top: 0%;
    margin-left: auto;
   /* margin-bottom: 100%;*/
  }
  #pZoomBar{
    height: 1;
    
  }
  #zoomLeaflet{
    height: 50px;
  }

/*CSS FOR MENU*/
  .multiselect {
    margin-left:auto;
    margin-right:auto;
  }

  #central_view{
    position: absolute;
    margin-left: 28%;
    width: 48%;
    height: 100%;
  }
  #yearCheckboxes {
    display: table;
    width:95%;
    margin-left: 10px;
    padding-right: 10px;
    table-layout: fixed; /*Optional*/
    border:1px solid black;
    border-radius: 5px;
    margin-top: 2px;

  }
  label[for='tot'],label[for='2012'],label[for='2013'],label[for='2014'],label[for='2015'],label[for='2016'],label[for='2017'],label[for='2018'],label[for='2019']{
    font-size: small;
  }
  
  .yearCheckbox {
    display: table-cell;
    margin-left: 10px;
    margin-right: 10px;

  }
   
  #menu{
    position: absolute;
    height: 100%;
    width: 29%;
    margin-left: 76%;
    display: inline;
    text-align: center;
    vertical-align: middle;
    border-left-style: groove;
    border-style: ridge;
    border-color: black;
    border-radius: 5px;
    background-color: lightgrey;
    border-width: 2px;
  }
  
  #crimes {
    width: 100%;
    text-align: left;
    height:80%;
    /*overflow:auto;*/
  }
  .select2-container--default, .select2-selection--multiple, .select2-selection__choice{
    background-color: #ffffff;
  }
  .select2-selection, .select2-selection--multiple{
    border: none;
    border-radius: none;
   /* background-color: red;*/
  }
  .select2-selection__choice{
    /*border: 3.5px solid black;*/
    font-size: 10px;
    background-color: lightgray
  }
  #legendCrimes{
    width: 100%;
    height:16%;
    margin-top: 4%;
  }
  #svgLegCr{
    position: relative;
    width: 100%;
    height: 100%;
  }
  
  #scrollBar{
    position: absolute;
    width: 100%;
    height:30%;
   /* margin-top: 10%;*/
  }

  #computation, #mcomputation, #visualizationType
  {
    margin-left:auto;
    margin-right:auto;
    text-align: center;
  }



/*MDS*/
#regions{
  height: 80%;
  width: 100%;
  position: relative;
}
.axis path,
.axis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}

.axis text {
    font-size: 11px;
}

circle {
    stroke: #2c7bb6;
    fill : #2c7bb6;
    opacity : 0.8;
}
#text{
  opacity: 0.6;
}
.brushed {
  fill: red;
  stroke: red;
  opacity: 1.0;
}

.brushed_text{
  fill: #0e0d0d;
  opacity: 1.0;
}

#coordination{
  stroke: black;
  stroke-width: 2;
  opacity: 1.0;
}

.pc_brushed{
  fill: lightgray;
  stroke: darkgray;
  opacity: 1.0;
}

div.mdsTooltip {
  position: absolute;
  text-align: center;
  padding: 5px;
  font: sans-serif;
  background: lightgray;
  border-radius: 25px;
  pointer-events: none;
}

/*PARALLEL COORDINATES*/
#par-coord{
  border:3px solid black;
  /*border-style: inset;*/
  border-radius: 5px;
  position: absolute;
  top:57%;
  height: 42%;
  width: 97%;
}
#my_dataviz{
  height: 100%;
  width: 100%;
  position: relative;
}
.PCtooltip {
  border-radius: 25px;
  background: lightgray; 
  display:none;
  padding: 5px;
  font-family: sans-serif;
}

.brush .extent {
  fill-opacity: .3;
  stroke: #fff;
  shape-rendering: crispEdges;
}
.background path {
  fill: none;
  stroke: #ddd;
  shape-rendering: crispEdges;
}

.foreground path {
  fill: none;
  stroke: steelblue;
}

/*---------*/
#menu_tendina {
  display: table;
  width: 99%;
  margin-left: 0.5%;
  table-layout: fixed;
  border-spacing: 10px;
  border-style: outset;
  border-width: 2px;
  background-color: lightgrey;
  border-radius: 10px;
  
}
#mcomputation,#computation,#visualizationType {
  display: table-cell;
}

.button .arrow{
  border-width: 2px;
}
.arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  background-color: white;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  margin-left: 20%;
}

